apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-eventos
  namespace: gestion-ep-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-eventos
  template:
    metadata:
      labels:
        app: ms-eventos
    spec:
      containers:
        - name: ms-eventos
          image: mcabrerac/ms-eventos:1.0
          ports:
            - containerPort: 8081
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: EVENTOS_DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: EVENTOS_DB_PASSWORD
            - name: APP_NAME
              valueFrom:
                configMapKeyRef:
                  name: ms-eventos-config
                  key: APP_NAME
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: ms-eventos-config
                  key: SERVER_PORT
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: ms-eventos-config
                  key: DB_URL
            - name: DB_DRIVER
              valueFrom:
                configMapKeyRef:
                  name: ms-eventos-config
                  key: DB_DRIVER
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_ID
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP

          resources:
            requests:
              memory: "256Mi"
              cpu: "500m"
            limits:
              memory: "800Mi"
              cpu: "800m"

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3

      restartPolicy: Always
